
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-bg: #212529;
    --color-gray1: #343A40;
    --color-gray2: #495057;
    --color-gray3: #CED4DA;
    --color-gray4: #DEE2E6;
    --color-txt: #F8F9FA;

    --black-: #000;
    --white-: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--black-);
    color: var(--color-txt);
}


html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

a{
    color: unset;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}

iframe {
    border: 0;
}

button, input{
    border: none;
    outline: none;
    background-color: unset;
}

ul,li{
    list-style: none;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}


.section {
    padding: 2rem 0;
}

.home{
    height: 2000px;
}

.skeleton{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(0, 0%, 20%);
    }
    100%{
        background-color: hsl(0, 0%, 40%);
    }
}

@media (max-width: 1024px)  {
    .container{
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
}

@media (max-width: 600px)  {
    .container{
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 10px;
    }
}

